<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>CheDoro</title>
    <link rel="icon" type="image/png" href="<%- base %>favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="<%- base %>favicon.svg" />
    <link rel="shortcut icon" href="<%- base %>favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%- base %>apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="CheDoro" />
    <link rel="manifest" href="<%- base %>site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
