@use '../node_modules/reset-css/sass/_reset.scss';

:root {
  --main-background-color: #ffffff;
  --main-text-color: #000000;
}

html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 18px;
  user-select: none;

  @media (max-width: 48rem) {
    font-size: 14px;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  font-family: 'Courier Prime', monospace;
  font-weight: 400;

  .header {
    flex: 1 1 0;
    padding: 1.4rem;

    .todayStats {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1.78rem;

      .todayStat {
        flex: 0 0 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 0.33rem;

        .todayStatName {
          font-size: 1.33rem;
        }

        .todayStatDuration {
          font-size: 1.33rem;
          margin-bottom: 0.11rem;
        }
      }
    }
  }

  .main {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .currentStatusName {
      font-size: 7.11rem;
    }

    .currentDuration {
      font-size: 3.56rem;
      font-weight: 600;
    }
  }

  .footer {
    flex: 1 1 0;

    .statusesButtons {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.56rem;
      align-items: center;
      // justify-content: flex-end;
      justify-content: center;
      padding: 1.8rem;

      .statusButton {
        flex: 0 0 0;
        // border: 3px solid #000;
        border: none;
        outline: none;
        border-radius: 0.33rem;
        // font-size: 2.67rem;
        font-size: 2rem;
        padding: 0.56rem 1.67rem;
        cursor: pointer;
      }
    }
  }
}
