@use '../node_modules/reset-css/sass/_reset.scss';

:root {
  --main-background-color: #ffffff;
  --main-text-color: #000000;
}

html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 18px;
  user-select: none;

  @media (max-width: 48rem) {
    font-size: 14px;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  font-family: 'Courier Prime', monospace;
  font-weight: 400;

  // .todayStats {
  //   padding: 1.4rem 1.4rem 2rem;
  //   display: flex;
  //   // flex-flow: row nowrap;
  //   flex-flow: row-reverse wrap;
  //   align-items: flex-end;
  //   justify-content: flex-end;
  //   gap: 1.78rem;
  //   // overflow-x: auto;

  //   .todayStat {
  //     flex: 0 0 0;
  //     display: flex;
  //     flex-flow: row nowrap;
  //     align-items: center;
  //     justify-content: center;
  //     gap: 0.33rem;

  //     .todayStatName {
  //       font-size: 1.1rem;
  //     }

  //     .todayStatDuration {
  //       font-size: 1.1rem;
  //       margin-bottom: 0.25rem;
  //     }
  //   }
  // }

  .todayStats {
    padding: 1.4rem 3rem 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto); // or just let it auto-flow
    gap: 1.78rem;

    @media (max-width: 48rem) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    @media (max-width: 18rem) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    .todayStat {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: 0.44rem;
      cursor: pointer;

      .todayStatName {
        font-size: 1.1rem;
      }

      .todayStatDuration {
        font-size: 1.3rem;
        margin-bottom: 0.15rem;
      }
    }
  }

  .header {
    flex: 1 1 0;
  }

  .main {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    .currentStatusName {
      font-size: 7.11rem;
    }

    .currentDuration {
      // font-size: 3.56rem;
      font-size: 6rem;
      font-weight: 600;

      @media (max-width: 21rem) {
        font-size: 4rem;
      }
    }
  }

  .footer {
    flex: 1 1 0;
  }

  .statusesButtons {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.56rem;
    align-items: center;
    justify-content: flex-start;
    padding: 1.8rem 0;
    overflow-x: auto;

    &::after,
    &::before {
      content: '';
      flex: 1 1 100%; // same as your wrapper padding
      min-width: 1.8rem;
    }

    .statusButton {
      box-sizing: border-box;
      flex: 0 0 0;
      border: 2px solid #000;
      // border: none;
      outline: none;
      background-color: transparent;
      border-radius: 0.33rem;
      // font-size: 2.67rem;
      font-size: 2rem;
      padding: 0.56rem 1.67rem;
      cursor: pointer;
    }
  }
}
